@use 'src/App/variable.scss'as variable;

.search-input-component {
    border-bottom: 3px solid #eee;

    .search-input {
        margin: 0 250px;
        padding-top: 15px;

        .ant-input-wrapper {
            min-width: 400px;
            max-width: 800px;
            border-radius: 16px;
            border: 4px solid variable.$search-color;
            overflow: hidden;

            .ant-input {
                border-width: 0;

                &:focus {
                    box-shadow: none;
                }
            }

            .ant-input-group-addon {

                .ant-btn {
                    border-width: 0;

                    &-icon {
                        color: variable.$search-color;

                        .anticon-search {
                            font-size: 22px;
                        }
                    }

                    // 去掉子 div 样式
                    &>div {
                        display: none;
                    }

                    &:not(:disabled):focus-visible {
                        outline: 0;
                        outline-offset: 0px;
                        transition: outline-offset 0s, outline 0s;
                    }
                }
            }
        }
    }
}