#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hw-100 {
  height: 100%;
  width: 100%;
}

// 全局按钮样式
.antdog-btn {
  background-color: #0bced6;
  font-weight: 700;

  &:not(:disabled):hover {
    background-color: #0bcfd6c7 !important;
  }

  &.disabled {
    color: #fff;
    background-color: #a0a0a0;
  }

  &.processing {
    color: #fff;
    background-color: #1f6dfd;
  }

  &:not(:first-child) {
    margin-left: 8px;
  }
}

/**
* 全局确认框样式
* 二次确认框
*/
.antdog-enter-model {
  .ant-modal-content {
    width: 750px;
    height: 280px;
    background: rgba(226, 223, 223, 0.95);

    .ant-modal-confirm-paragraph {
      height: 160px;
      text-align: center;

      .ant-modal-confirm-title {
        margin-top: 50px;
        font-size: 44px;
      }

    }

    .ant-modal-confirm-btns {
      position: relative;

      button {
        border: 0;
        background: linear-gradient(to bottom, #f4f4f5, #ccccd6);
        width: 120px;
        height: 50px;


        .anticon {
          font-size: 36px;
          color: #000000;
        }

        &:first-child {
          right: 40px;
        }

        &:last-child {
          right: 400px;
        }
      }
    }

  }
}

ul {
  margin: 0;
  padding: 0;
  text-align: left;
}

li {
  list-style-type: none;
  color: #000000;
}

.cursor-pointer {
  cursor: pointer;
  user-select: none;
}